table {
    width: 100%;

    border-width: 5px;
    border-color: cornflowerblue;

    vertical-align: bottom;
    horiz-align: center;
    text-align: right;

}
th, td {
   height: 50px;

    vertical-align: bottom;
    horiz-align: center;
    border-width: 5px;
    border-color: cornflowerblue;
    border-style: dashed;
    }